<StackLayout margin="30">
    <Label text="Ajouter une tâche" style="font-weight: bold"></Label>
    <Label text="Titre"></Label>
    <Label *ngIf="titleIsNull" text="Titre obligatoire !" color="red"></Label>
    <TextField hint="Entrer le titre de la tâche" [(ngModel)]="title"></TextField>
    <Label text="Date de fin"></Label>
    <Label *ngIf="endDateIsNull" text="Date de fin obligatoire !" color="red"></Label>
    <DatePickerField hint="Entrer la date de fin" [(ngModel)]="endDate"></DatePickerField>
    <Label text="Catégorie"></Label>
    <ListPicker [items]="categories" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChanged($event)" [(ngModel)]="category"></ListPicker>
    <Button text="Valider" (tap)="addTodoItem()"></Button>
</StackLayout>
