<ActionBar>
    <NavigationButton (tap)="back()" android.systemIcon="ic_menu_back"></NavigationButton>
    <ActionItem android.systemIcon="ic_input_add" ios.systemIcon="4" ios.position="actionBar"
        android.position="actionBar" (tap)="showModalNew()"></ActionItem>
    <StackLayout>
        <Label [text]="todo.title" class="h2" id="titleTodo"></Label>
    </StackLayout>
</ActionBar>

<TabView selectedIndex="0">
    <StackLayout *tabItem="{title: 'Tâches à faire'}">
        <GridLayout>
            <ListView [items]="todoItemNotComplete">
                <ng-template let-todoItem="item" let-i="index">
                    <StackLayout orientation="vertical" (longPress)="showModalDelete(todoItem)" (tap)="changeStatTodoItem(todoItem)">
                        <Label [text]="'Tâche : ' + todoItem.title" style="font-weight: bold"></Label>
                        <Label [text]="'Date de fin : ' + todoItem.endDate"></Label>
                        <Label [text]="'Catégorie : ' + todoItem.category"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </GridLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Tâches terminées'}">
        <StackLayout>
            <GridLayout>
                <ListView [items]="todoItemComplete">
                    <ng-template let-todoItem="item" let-i="index">
                        <StackLayout orientation="vertical" (longPress)="showModalDelete(todoItem)" (tap)="changeStatTodoItem(todoItem)">
                            <Label [text]="'Tâche : ' + todoItem.title" style="font-weight: bold"></Label>
                            <Label [text]="'Date de fin : ' + todoItem.endDate"></Label>
                            <Label [text]="'Catégorie : ' + todoItem.category"></Label>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</TabView>
